<p>hero works!</p>
<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>  {{name}}</dd>
  <td>Edad:</td>
  <dd>  {{age}}</dd>
  <td>Método:</td>
  <dd>  {{getHeroDescription()}}</dd>
  <td>Capitalizado por un metodo get:</td>
  <dd>  {{capitalizeName}}</dd>
</dl>

<button
*ngIf="age != 18"
 (click)="changeAge()"
 class="btn btn-primary mx-2">
  Cambiar edad
</button>


<button
*ngIf="name !== 'super man'"
(click)="changeHero()"
class="btn btn-primary mx-2">
Cambiar nombre
</button>

<button
(click)="resetForm()"
class="btn btn-primary mx-2">
Reset
</button>
